Repository asedra/dex_agent, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dexagents-team, @frontend-team, @backend-team, @devops-team, @security-team

.github/CODEOWNERS:

# DexAgents Code Owners
# These owners will be requested for review when anyone opens a pull request.

# Global owners
* @dexagents-team

# Frontend
/frontend/ @frontend-team @dexagents-team

# Backend
/backend/ @backend-team @dexagents-team  

# Infrastructure and DevOps
/docker-compose*.yml @devops-team @dexagents-team
/Dockerfile* @devops-team @dexagents-team
/.github/ @devops-team @dexagents-team
/nginx/ @devops-team @dexagents-team
/scripts/ @devops-team @dexagents-team

# Security sensitive files
/.env* @security-team @dexagents-team
/secrets/ @security-team @dexagents-team

Temporarily remove workflow file for push
  .github/workflows/ci.yml
Owners: @devops-team, @dexagents-team

Remove all workflow files for push without workflow scope
  .github/workflows/health-check.yml
  .github/workflows/rollback.yml
  .github/workflows/security-scan.yml
Owners: @devops-team, @dexagents-team

feat: Enhanced database structure with models, migrations, and comprehensive tables
  backend/app/core/database.py
  backend/app/core/db_test.py
  backend/app/migrations/__init__.py
  backend/app/migrations/migration_manager.py
  backend/app/migrations/v001_initial_schema.py
  backend/app/migrations/v002_add_indexes.py
  backend/app/models/__init__.py
  backend/app/models/agent.py
  backend/app/models/alert.py
  backend/app/models/audit.py
  backend/app/models/command.py
  backend/app/models/group.py
  backend/app/models/metric.py
  backend/app/models/session.py
  backend/app/models/task.py
  backend/app/models/user.py
  backend/dexagents.db
  backend/requirements.txt
Owners: @backend-team, @dexagents-team

chore: Clean up unused and temporary files
  .gitignore
  agent/DexAgents_Installer/README.txt
  agent/DexAgents_Installer/config.json
  agent/DexAgents_Installer/config_template.json
  agent/DexAgents_Modern_Installer/config.json
  agent/DexAgents_Simple_Installer/README.txt
  agent/DexAgents_Simple_Installer/config.json
  backend/app/core/db_test.py
  backend/dexagents.db
  dexagent_windows.py
  frontend_direct.exe
  install_dexagent.bat
  requirements_agent.txt
Owners: @dexagents-team, @backend-team

fix: Resolve database initialization and Docker startup issues
  backend/Dockerfile
  backend/app/core/database.py
  docker-compose.yml
Owners: @backend-team, @dexagents-team, @devops-team

docs: Complete README.md update for v3.0 release
  README.md
Owners: @dexagents-team

feat: Complete JWT-based authentication system with login page
  backend/app/api/__init__.py
  backend/app/api/v1/agents.py
  backend/app/api/v1/auth.py
  backend/app/core/auth.py
  backend/app/core/config.py
  backend/app/core/database.py
  backend/app/core/jwt_utils.py
  backend/app/schemas/auth.py
  backend/requirements.txt
  docker-compose.yml
  frontend/Dockerfile.dev
  frontend/app/(dashboard)/agents/[id]/page.tsx
  frontend/app/(dashboard)/agents/loading.tsx
  frontend/app/(dashboard)/agents/page.tsx
  frontend/app/(dashboard)/audit/loading.tsx
  frontend/app/(dashboard)/audit/page.tsx
  frontend/app/(dashboard)/layout.tsx
  frontend/app/(dashboard)/page.tsx
  frontend/app/(dashboard)/powershell/loading.tsx
  frontend/app/(dashboard)/powershell/page.tsx
  frontend/app/(dashboard)/schedules/loading.tsx
  frontend/app/(dashboard)/schedules/page.tsx
  frontend/app/(dashboard)/settings/page.tsx
  frontend/app/layout.tsx
  frontend/app/login/layout.tsx
  frontend/app/login/page.tsx
  frontend/components/ProtectedRoute.tsx
  frontend/components/app-sidebar.tsx
  frontend/contexts/AuthContext.tsx
Owners: @backend-team, @dexagents-team, @devops-team, @frontend-team

feat: Add real-time WebSocket updates for agent details page
  backend/app/api/v1/agents.py
  backend/app/api/v1/installer.py
  backend/app/api/v1/websocket.py
  backend/app/core/websocket_manager.py
  backend/app/services/python_agent_service.py
  frontend/app/(dashboard)/agents/[id]/page.tsx
  frontend/app/(dashboard)/agents/page.tsx
Owners: @backend-team, @dexagents-team, @frontend-team

feat: Complete PowerShell WebSocket integration and fix System Health refresh
  backend/app/core/websocket_manager.py
  backend/app/services/python_agent_service.py
  frontend/app/(dashboard)/agents/[id]/page.tsx
  frontend/app/(dashboard)/agents/page.tsx
  frontend/components/ConditionalLayout.tsx
Owners: @backend-team, @dexagents-team, @frontend-team

docs: Update README.md with PowerShell WebSocket integration features
  README.md
Owners: @dexagents-team

feat: Complete PowerShell Library with real-time execution and error handling fixes
  README.md
  backend/app/api/v1/commands.py
  backend/app/api/v1/websocket.py
  backend/app/core/database.py
  backend/app/migrations/migration_manager.py
  backend/app/migrations/v003_powershell_commands.py
  backend/app/schemas/command.py
  frontend/app/(dashboard)/powershell/page.tsx
  frontend/components/CreateCommandForm.tsx
Owners: @dexagents-team, @backend-team, @frontend-team

fix: Implement functional Edit button for PowerShell commands
  frontend/app/(dashboard)/powershell/page.tsx
  frontend/components/CreateCommandForm.tsx
  frontend/package-lock.json
Owners: @frontend-team, @dexagents-team

feat: Complete production-ready PowerShell Library with advanced data type support
  README.md
  backend/app/api/v1/commands.py
  backend/app/api/v1/websocket.py
Owners: @dexagents-team, @backend-team

Rename PowerShell Library to Command Library
  README.md
  frontend/app/(dashboard)/powershell/page.tsx
  frontend/components/app-sidebar.tsx
Owners: @dexagents-team, @frontend-team

Change PowerShell URL route to Commands
  frontend/app/(dashboard)/commands/loading.tsx
  frontend/app/(dashboard)/commands/page.tsx
  frontend/app/(dashboard)/page.tsx
  frontend/components/app-sidebar.tsx
Owners: @frontend-team, @dexagents-team

feat: add DigitalOcean app spec
  .do/app.yaml
Owners: @dexagents-team

fix: Add DigitalOcean deployment configuration to resolve "no detected components" error
  Procfile
  app.yaml
  backend/Procfile
  backend/app/core/database.py
  backend/app/core/default_commands.py
  backend/app/migrations/v003_powershell_commands.py
  backend/runtime.txt
  frontend/.nvmrc
  frontend/Procfile
Owners: @dexagents-team, @backend-team, @frontend-team

fix: Optimize DigitalOcean App Platform deployment configuration
  .do/app.yaml
  app.yaml
  backend/run.py
  frontend/package.json
Owners: @dexagents-team, @backend-team, @frontend-team

fix: Add comprehensive DigitalOcean component detection solution
  .do/app.yaml
  backend/Dockerfile.digitalocean
  frontend/Dockerfile.digitalocean
Owners: @dexagents-team, @backend-team, @frontend-team

feat: Add comprehensive Render.com deployment configuration
  backend/Procfile
  backend/start.py
  frontend/next.config.mjs
  frontend/package.json
  render.yaml
  scripts/render/deploy.sh
Owners: @backend-team, @dexagents-team, @frontend-team, @devops-team

fix: Resolve Dockerfile conflict for Render.com buildpack deployment
  backend/Dockerfile.docker
  frontend/Dockerfile.docker
  render.yaml
Owners: @backend-team, @dexagents-team, @frontend-team

docs: enhance README with comprehensive setup requirements and troubleshooting guide
  README.md
Owners: @dexagents-team

feat: Add automatic database migration and default commands on Docker startup
  backend/Dockerfile
  backend/app/migrations/v001_initial_schema.py
  backend/app/migrations/v003_powershell_commands.py
  backend/app/scripts/insert_default_commands.py
  backend/entrypoint.sh
Owners: @backend-team, @dexagents-team

feat: Complete PostgreSQL migration with production-ready setup
  .env.example
  CLAUDE.md
  README.md
  backend/app/api/v1/commands.py
  backend/app/core/config.py
  backend/app/core/database_postgresql.py
  backend/app/migrations/migration_manager.py
  backend/app/migrations/v001_initial_schema_postgresql.py
  backend/app/migrations/v002_add_indexes_postgresql.py
  backend/app/migrations/v003_powershell_commands_postgresql.py
  backend/app/scripts/insert_default_commands.py
  backend/entrypoint.sh
  backend/requirements.txt
  backend/scripts/init-db.sql
  docker-compose.prod.yml
  docker-compose.yml
  start.bat
  start.sh
Owners: @security-team, @dexagents-team, @backend-team, @devops-team

fix: include frontend/lib directory in git by updating .gitignore
  .gitignore
  frontend/lib/api.ts
  frontend/lib/utils.ts
Owners: @dexagents-team, @frontend-team

docs: add GitHub token configuration to CLAUDE.md
  CLAUDE.md
Owners: @dexagents-team

feat: add WebSocket command response waiting mechanism
  backend/app/api/v1/commands.py
  backend/app/core/websocket_manager.py
Owners: @backend-team, @dexagents-team

fix: update command execution to use PowerShell format
  backend/app/core/websocket_manager.py
Owners: @backend-team, @dexagents-team

feat: add ChatGPT API configuration to settings
  backend/app/api/__init__.py
  backend/app/api/v1/settings.py
  backend/app/core/database_postgresql.py
  backend/app/migrations/migration_manager.py
  backend/app/migrations/v004_settings_table_postgresql.py
  backend/requirements.txt
  frontend/app/(dashboard)/settings/page.tsx
Owners: @backend-team, @dexagents-team, @frontend-team

fix: update migration manager to handle function-based migrations
  backend/app/migrations/migration_manager.py
Owners: @backend-team, @dexagents-team

fix: resolve authentication token sync issue
  frontend/lib/api.ts
Owners: @frontend-team, @dexagents-team

fix: add missing API methods for command execution
  frontend/app/(dashboard)/commands/page.tsx
  frontend/lib/api.ts
Owners: @frontend-team, @dexagents-team

docs: add test report workflow to CLAUDE.md
  CLAUDE.md
Owners: @dexagents-team

fix: resolve Docker healthcheck and frontend API URL issues
  docker-compose.yml
  frontend/contexts/AuthContext.tsx
Owners: @devops-team, @dexagents-team, @frontend-team

fix: resolve ChatGPT configuration and API test issues from test report
  .claude/commands/show-commands.md
  .claude/commands/test-report.md
  .claude/commands/welcome.md
  CLAUDE.md
  backend/app/api/v1/settings.py
  backend/requirements.txt
  frontend/app/(dashboard)/settings/page.tsx
  frontend/next.config.mjs
Owners: @dexagents-team, @backend-team, @frontend-team

fix: resolve Download Agent button TypeError - add missing createPythonAgent API method
  frontend/lib/api.ts
Owners: @frontend-team, @dexagents-team

fix: resolve PowerShell command execution issues - parameter handling, error recovery, and race conditions
  CLAUDE.md
  backend/app/api/v1/commands.py
  backend/app/api/v1/websocket.py
  frontend/app/(dashboard)/commands/page.tsx
Owners: @dexagents-team, @backend-team, @frontend-team

refactor: remove Get Event Logs command from default system commands
  backend/app/scripts/insert_default_commands.py
Owners: @backend-team, @dexagents-team

fix: resolve Security Audit command parameter substitution issues
  backend/app/api/v1/commands.py
  backend/app/scripts/insert_default_commands.py
Owners: @backend-team, @dexagents-team

feat: enhance test report workflow and PowerShell cross-platform support
  .claude/commands/test-raporunu-oku.md
  API_TEST_REPORT.md
  CLAUDE.md
  COMMAND_TEST_REPORT.md
  api_test_results.json
  backend/app/services/powershell_service.py
  command_test_results.json
  command_test_suite.py
  pre_commit_api_tests.py
Owners: @dexagents-team, @backend-team
