Repository asedra/dex_agent, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dexagents-team, @frontend-team, @backend-team, @devops-team, @security-team

.github/CODEOWNERS:

# DexAgents Code Owners
# These owners will be requested for review when anyone opens a pull request.

# Global owners
* @dexagents-team

# Frontend
/frontend/ @frontend-team @dexagents-team

# Backend
/backend/ @backend-team @dexagents-team  

# Infrastructure and DevOps
/docker-compose*.yml @devops-team @dexagents-team
/Dockerfile* @devops-team @dexagents-team
/.github/ @devops-team @dexagents-team
/nginx/ @devops-team @dexagents-team
/scripts/ @devops-team @dexagents-team

# Security sensitive files
/.env* @security-team @dexagents-team
/secrets/ @security-team @dexagents-team

fix: resolve agent refresh button error - add missing API methods
  api_test_results.json
  frontend/lib/api.ts
  pre_commit_api_tests.py
Owners: @dexagents-team, @frontend-team

feat: implement AI-powered command generation with dark mode support
  backend/app/api/v1/commands.py
  backend/app/services/ai_service.py
  comprehensive_test.py
  docker-compose.yml
  frontend/app/(dashboard)/commands/page.tsx
  frontend/lib/api.ts
Owners: @backend-team, @dexagents-team, @devops-team, @frontend-team

fix: resolve Create Command with AI button display issue
  CLAUDE.md
  api_test_results.json
Owners: @dexagents-team

feat: implement database-driven ChatGPT API configuration with Settings UI integration
  .claude/commands/comprehensive-test.md
  .claude/settings.json
  CLAUDE.md
  backend/app/api/v1/settings.py
  backend/app/services/ai_service.py
  command_test_suite.py
  comprehensive_pre_commit_test.py
  comprehensive_test.py
  docker-compose.yml
  pre_commit_api_tests.py
  test_report_20250731_150413.json
  test_report_20250731_150537.json
  test_report_20250731_150608.json
Owners: @dexagents-team, @backend-team, @devops-team

fix: resolve test report issues and improve API reliability
  api_test_results.json
  backend/app/api/v1/settings.py
  comprehensive_api_test.py
  docker-compose.yml
Owners: @dexagents-team, @backend-team, @devops-team

feat: implement always-visible AI button with smart redirection and comprehensive testing
  .claude/commands/testleri-calistir.md
  .env.example
  CLAUDE.md
  api_test_results.json
  backend/comprehensive_api_test.py
  frontend/app/(dashboard)/commands/page.tsx
  frontend/package-lock.json
  frontend/package.json
  frontend/playwright.config.ts
  frontend/tests/README.md
  frontend/tests/e2e/agents.spec.ts
  frontend/tests/e2e/ai-features.spec.ts
  frontend/tests/e2e/api-integration.spec.ts
  frontend/tests/e2e/auth.spec.ts
  frontend/tests/e2e/commands.spec.ts
  frontend/tests/e2e/comprehensive.spec.ts
  frontend/tests/e2e/dashboard.spec.ts
  frontend/tests/e2e/helpers/api-mocks.ts
  frontend/tests/e2e/helpers/auth.ts
  frontend/tests/setup.ts
  frontend/tests/unit/auth.test.ts
  run-all-tests.sh
Owners: @dexagents-team, @security-team, @backend-team, @frontend-team

feat: implement comprehensive backend test suite with Docker Compose integration
  backend/pytest.ini
  backend/requirements.txt
  backend/tests/README.md
  backend/tests/conftest.py
  backend/tests/run_tests.py
  backend/tests/test_basic_functionality.py
Owners: @backend-team, @dexagents-team
